%p
  Thank you so much for taking the time to visit my website and view my work. Attention to detail is my forte so, I hand-edit all of my images. Each image is carefully, albeit tediously, enhanced to maximize the overall effect and feel of the work. Hand-editing does take time so please contact me for current lead times and pricing.

%p
  I started on a photographic journey because I always "needed" a tangible memento to remember an event, person, place or thing. Photography became a way for me to document everything special.

%p
  I'm enamored with the ability to create and capture beauty. Please contact me if you are interested in scheduling a session.
