%p
  Lauren Therese graduated with a Bachelor of Science from Illinois State University in May 2009. As a Visual Arts major, Lauren explored the different realms of art until one took-- photography. In attempt to satisfy an urge to continue to "work with her hands," Lauren began creating images with multiple negatives. This experimentation eventually led her to generate multiple exposure photographs, which constitutes the body of her undergraduate work. Today, Lauren works in a digital format, but still enjoys the little pleasures of film.

%p
  Born in 1986, Joliet, Illinois

%p
  %strong
    Achievements
  %br
  2007 Foundation Show
  %br
  2008 Under the Eaves, collaborative group art exhibition
  %br
  2008 Student Annual Art Show
  %br
  2009 Rejectee Show

%p
  %strong
    Education
  %br
  2009 BS Visual Arts, Illinois State University, Normal, IL
